<div>
  <header>
    <div>
      <span><a href="/post/{{id}}">{{title}}</a></span><span style="float:right">Posted by {{user.username}} on {{format_date created_at}}</span>
    </div>
  </header>
  
  <div class="meta">
    <p>{{post_content}}</p>
  </div>
</div>

